* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(11, 9.09%);
    grid-template-rows: repeat(15, 6.67%);
}

.container {
    position: relative;
    background-color: aqua;
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 14;
    overflow: hidden;
    z-index: -1;
}

.container video {
    object-fit: cover;
    width: 100%;
}

.text {
    position: relative;
    background-color: black;
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 14;
    overflow: hidden;
    z-index: 1;
    display: grid;
    place-items: center;
    mix-blend-mode: screen;
}

.text p {
    font-size: 10rem;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    mix-blend-mode: screen;
}